
<div class="content-card">

  <!-- Course list -->
  {% for course in site.data.courses %}
  <div class="course">
    <!-- Course box -->
    <div class="course-header">
      <!-- Overlay and course image -->
      <div class="course-header-banner" style="background-image: url('{{ course.thumbnail }}')">
        <span class="course-header-banner-overlay"></span>
      </div>
      <!-- Title course -->
      <h1 class="course-header-title">{{ course.title }}</h1>
    </div>

    <!-- Course snippet -->
    <p class="course-content">
      Curso sobre {{ course.title }}
    </p>
  </div>
  {% endfor %}

  <!-- Button to show more courses -->
  <div class="course">
    Mais cursos...
  </div>
</div>
