
/*Menu*/
/*====*/
.menu {
  position: absolute;
  width: 30rem;
  height: 100vh;
  right: -30rem;
  background-color: $color_gray;

  > .nav {

    /*Label menu*/
    > h2 {
      color: $color_blue_dark;
      font-size: 2.5rem;
      text-align: center;
    }

    /*Links*/
    > ul {
      list-style: none;
      padding: 0;

      > a {
        text-decoration: none;
        color: $color_blue_dark;

        > li {
          padding: 2.5rem 2rem 2.5rem 2rem;
          font-size: 1.8rem;
          transition: all .2s ease;
          display: flex;

          /*Change box color*/
          &:hover {
            background-color: $color_blue_dark;
            color: $color_gray;
          }

          /*Change icon color*/
          &:hover > .nav-icon {
            fill: $color_gray;
          }

          /*Icon*/
          > .nav-icon {
            margin-right: 1rem;
            width: 2.5rem;
            fill: $color_blue_dark;
            height: @width;
          }

        }
      }

    }
  }

}
