
/*Author section*/
.authors {
  max-width: 100%;

  /*All authors*/
  > .author-content {
    margin: 0 auto;
    padding: 2rem;
    max-width: 80rem;
    display: flex;
    flex-direction: column;

    /*Author box*/
    > .author {
      margin-top: 2rem;
      margin-bottom: 2rem;
      height: 10rem;
      display: flex;

      > .author-photo {
        flex-basis: 10rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
      }

      > .author-header {
        flex-basis: 100%;

        > .author-name {
          font-size: 2rem;
          color: $color_blue_dark;
        }

        > .author-description {
          font-size: 1.5rem;
          color: $color_black;
        }
      }

    }
  }
}
