
/*Author section*/
.authors {
  max-width: 100%;

  /*All authors*/
  > .author-content {
    margin: 0 auto;
    padding: 2rem;
    max-width: 80rem;
    display: flex;
    flex-direction: column;

    /*Author box*/
    > .author {
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(to top, $color_gray, #fff);
      border-bottom: 1px solid $color_gray_dark;

      > .author-photo {
        width: 10rem;
        flex-basis: @width;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
      }

      /*Info*/
      > .author-header {
        flex-basis: 100%;

        > .author-name {
          text-align: center;
          font-size: 2rem;
          color: $color_blue_dark;
        }

        > .author-description {
          text-align: center;
          font-size: 1.5rem;
          color: $color_black;
        }
      }

      /*Links*/
      > .author-links {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-around;

        > a {

          > .icon {
            width: 2.5rem;
            height: @width;
            fill: $color_black_light;
            transition: fill .2s ease-in-out;

            &:hover {
              fill: $color_black;
            }
          }
        }
      }

    }
  }
}
