
/*Page placeholders*/
/*=================*/
@define-mixin space $size, $margin {
  font-size: $size;
  margin-top: 8rem;
  margin-bottom: $margin;
  color: $color_blue_dark;
}

.post-content {
  margin: 1rem auto;
  padding: 2rem;
  max-width: 80rem;
  line-height: 250%;
  color: $color_black;

  h1 {
    @mixin space 3.5rem, 5rem;
  }

  h2 {
    @mixin space 2.6rem, 2rem;
  }

  h3 {
    @mixin space 2rem, 2rem;
  }

  h4,
  h5,
  h6 {
    @mixin space 1.8rem, 2rem;
  }

  p {
    font-size: 1.8rem;

    .emoji {
      margin: 0;
      width: auto;
    }
  }

  em {
    color: $color_black_light;
  }

  a {
    padding: 0.2rem;
    color: $color_blue_middle;
    text-decoration: none;
    transition: all .2s linear;

    &:hover {
      color: $color_gray;
      background-color: $color_blue_middle;
      border-radius: 0.4rem;
    }
  }


  blockquote {
    padding: 1rem;
    border-left: 0.5rem solid $color_gray;
    margin: 5rem 0 5rem 0;

    > p {
      color: $color_gray_dark;
    }

    > p::before {
      content: "“";
      font-size: 2.2rem;
    }

    > p::after {
      content: "”";
      font-size: 2.2rem;
    }
  }

  code[class*=highlighter] {
    /*background-color: $color_gray;*/
    border-bottom: 1px dashed $color_black;
    color: $color_black;
    border-radius: 0.2rem;
    padding: 0.2rem;
    /*font-weight bold*/
    font-size: 1.5rem;
  }

  /*> img,*/
  /*> p > img,*/
  img:not(.emoji) {
    margin: 8rem 0 8rem 0;
    width: 100%;
    border: 1px solid $color_black_light;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 10rem 0.1rem $color_black_light;
  }

  table {
    margin: 5rem auto;
    font-size: 2rem;

    th,
    td {
      border: 0.2rem solid $color_gray;
      padding: 1rem;
    }
  }
}
