
.content {
  margin: 0 auto;
  max-width: 80rem;

  > .content-title {
    margin-top: 5rem;
    text-align: center;
    color: $color_black;
    font-size: 3rem;
  }

  .content-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .content-provisional {
      font-size: 2rem;
      color: $color_black_light;
    }
  }
}
