<article class="post-list">

  {% for post in site.posts %}
    <!-- Post -->
    <div class="post">

      <!-- Post box -->
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-header">
        <!-- Overlay and post image -->
        <div class="post-header-banner" style="background-image: url('{{ post.image }}')">
          <span class="post-header-banner-overlay"></span>
        </div>
        <!-- Title post -->
        <h1 class="post-header-title">{{ post.title }}</h1>
        <span class="post-header-date">{{ post.date | date_to_long_string | upcase }}</span>
      </a>

      <!-- Post snippet -->
      <p class="post-content">
        {{ post.content | strip_html | truncatewords: 40 }}
      </p>

      <!-- Post author -->
      <div class="post-author" id="{{ post.author }}">
        <figure class="post-author-photo"></figure>
        <a href="/authors/#{{ post.author | slugify }}" class="post-author-name"></a>
        {% for tag in post.tags %}
          <a class="post-author-tag" href="/tags/#{{ tag | slugify }}">{{ tag | slugify }}</a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

</article>
